@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Outfit:wght@100..900&display=swap");

:root {
  --pink: #f2dadf;
  --beige: #73645c;
  --white: #fff8e1;
  --gray: #f8f9fa;

  --header-font: "DM Serif Display", cursive;
  --paragraph-font: "Outfit", sans-serif;
}

body {
  background-color: var(--white);
  color: var(--beige);
}

body::-webkit-scrollbar {
  width: 0;
}

/* classes to be used overall website */

.glass {
  background-color: #fff5;
  backdrop-filter: blur(8px);
  border-radius: 8px;
}

.main_button {
  background-color: var(--beige);
  border-radius: 8px;
  border: none;
  outline: none;
  color: var(--white);
  text-wrap: nowrap;
}

.big_header {
  font-size: 5rem;
  font-family: var(--header-font);
  line-height: 90%;
}

.big_header.smaller {
  font-size: 3rem;
}

.big_header span {
  color: var(--beige);
}

.sub-big_header {
  font-size: 1.1rem;
}

.sub_title {
  font-size: 1.8rem;
  font-family: var(--header-font);
}

.back_img {
  background: var(--img-url) no-repeat;
  background-position: right;
  background-size: cover;
}

/* end of classes to be used in overall website */

/* navbar styles */
.nav_logo {
  font-family: var(--header-font);
  font-size: 1.5rem;
}

.nav_links a {
  color: black;
  font-size: 1rem;
  text-decoration: none;
}

.open {
  transform: translateX(0%) !important;
}
/* end of navbar styles */

.min-height {
  min-height: 40%;
}

.custom_card-body {
  background-color: var(--gray);
  border-radius: 8px;
}

.products_viewer {
  height: 300px;
  border-radius: 8px;
}

.form-control:focus {
  box-shadow: none !important;
  border-color: var(--beige) !important;
}

.footer {
  background-color: var(--beige);
}

.radio{
  accent-color: var(--beige);
}



/* products page */
.products-hero{
  height: 100vh;
  background:  linear-gradient(45deg, #fff9, #fff5), var(--img-url);
  background-position: center;
  background-size: cover;
}

.category{
  background-color: #23232399;
  border: 1px solid #111;
  color: white;
  font-size: .8rem;
}

.NewTag{
  background-color: var(--beige);
  transform: translateY(30%) translateX(10%);
}

.custom_card-body .products_viewershort{
  height: 200px;
}

.price{
  font-size: 1.5rem;
  font-family: var(--paragraph-font);
  font-weight: bold;
}

.tag{
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  right: 99%;
  z-index: 1000;
}

.small_title{
  font-size: 1.5rem;
  font-family: var(--header-font);
}

.flex-warp{
  flex-wrap: wrap;
}


/* cart page */
#cart .cart_item:nth-child(even){
  background-color: var(--gray) !important;
}
.cart_item{
  border-radius: 10px;
  background-color: #73645c44;
}
.cart_img{
  width: 50px;
  aspect-ratio: 1;
  border-radius: 8px;
}
.cart_button{
  width: 75%;
}
.trans span{
  transform: translateY(-8%);
}

.checkout_form{
  background-color: var(--gray);
  border-radius: 10px;
}

@media screen and (max-width: 991px) {
  .nav_links {
    transition: 0.5s;
    transform: translateX(100%);
    position: fixed;
    background-color: var(--gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;
  }
  .cart_img{
    width: 40px;
  }
  #cart, .cart_button{
    width: 100% !important;
  }
}

@media screen and (max-width: 767px) {
  html{
    font-size: 15px;
  }
  .nav_links{
    width: 100%;
  }
  .big_header {
    font-size: 3rem;
  }
  .big_header.smaller {
    font-size: 2.5rem;
  }

  .cart_img{
    width: 30px;
  }
}
